@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');



.bottom-content{
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
     /* width: 100%; */
     filter:brightness(60%)
    
}

.trending-name{
    padding-left:100px;
}

.slider-container{
    width: 95%;
    height: 80%;
}